<div id="addressMenu">
    

<div class="stepheader with-arrow-down singlesite">
    <div class="stepheader-content">
        <div class="stepheader-image">f</div>

        
        <div class="stepheader-info hidden-xs">
            <span class="stepheader-text">
                <span class="stepheader-text-content">De volgende producten zijn beschikbaar op</span>
                    <span class="stepheader-text-content address">Herdershoefje 27, Wemeldinge</span>
            </span>
        </div>
            <div class="stepheader-action hidden-xs">
                <a href="#" onclick="app_home.resetWizard()" data-bind="visible: app_home.selectedOffers().length == 0">Wijzigen</a>
                <a href="#" data-toggle="modal" data-target="#changeaddress-modal" target="_self" data-bind="visible: app_home.selectedOffers().length > 0">Wijzigen</a>
            </div>
        <div class="stepheader-info visible-xs">
            <span class="stepheader-text">
                    <span class="stepheader-text-content address">
                        Herdershoefje 27, Wemeldinge
                        <a href="#" data-bind="visible: app_home.selectedOffers().length > 0" data-toggle="modal" data-target="#changeaddress-modal" target="_self">Wijzigen<i class="fa fa-pencil"></i></a>
                        <a href="#" data-bind="visible: app_home.selectedOffers().length == 0" onclick="app_home.resetWizard()">Wijzigen<i class="fa fa-pencil"></i></a>
                    </span>
            </span>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(function() {
        var hasGroups = true;
        var contentBlocks = $("#conversionPathGroupsMenu").add("#sidebar").add(".wizard-steps").add("#customerProducts");
        if (hasGroups) {
            $("#main").removeClass("col-md-push-2");
            $("#addressMenu").removeClass("top-margin-no-groups");
            contentBlocks.show();
        } else {
            $("#main").addClass("col-md-push-2");
            $("#addressMenu").addClass("top-margin-no-groups");
            contentBlocks.hide();
        }
    });
</script>

</div>
<div id="conversionPathGroupsMenu">
    

        <div id="ElectricityOnly"
             class="col-sm-12 group-selection-bar  "
             >
            
            <div class="group-anchor  closed" onclick="toggleGroup(event, this)" data-id="1">
             <div class="group-anchor-content">
                 <div class="group-loader delta-loader"></div>
                        <div class="group-icon ">
                            y
                        </div>
                
                    <div class="group-image">
                        <img src="/Assets/img/icons/icon_elektriciteit_64.png" alt="icon_elektriciteit_64">
                    </div>
                    <div class="group-info">
                        <span class="group-title">Elektriciteit</span>
                        <br/>
                        <span class="group-text">Bij DELTA kies je altijd voor 100% groene stroom.</span>
                    </div>
                </div>
            </div>
            <div class="group-1-widgets group-widgets-content" style="display: none;" data-bind="slideVisible: app_home.openConversionPathGroup() == 1">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div id="GasOnly"
             class="col-sm-12 group-selection-bar  "
             >
            
            <div class="group-anchor  open" onclick="toggleGroup(event, this)" data-id="2">
             <div class="group-anchor-content">
                 <div class="group-loader delta-loader"></div>
                        <div class="group-icon upside-down">
                            y
                        </div>
                
                    <div class="group-image">
                        <img src="/Assets/img/icons/icon_gas_64.png" alt="icon_gas_64">
                    </div>
                    <div class="group-info">
                        <span class="group-title">Gas</span>
                        <br/>
                        <span class="group-text">Ons gas zorgt voor comfortabele warmte bij jou thuis.</span>
                    </div>
                </div>
            </div>
            <div class="group-2-widgets group-widgets-content" style="display: none;" data-bind="slideVisible: app_home.openConversionPathGroup() == 2">
                <div class="row">
                    <div class="col-sm-12">
<div class="conversionpathgroup-display">
    

    <div class="caption-full">



<div class="row clearfix" id="aom-summary">
    <div class="col-sm-8">
        <h3>Bereken hier je persoonlijke prijs</h3>
        <p>Prijzen zijn gebaseerd op de volgende gegevens:</p>
        <ul class="checks">
                <li> 
                    Een gemiddeld gasverbruik van <strong>1250 m<sup>3</sup></strong> per jaar.
                        
                </li>
            
        </ul>
    </div>
    <div class="col-sm-4 text-left ">
        <h5>&nbsp;</h5>
        <a class="btn btn-orange icon-angle-right triggerCalculation" style="width: auto"  href="#" data-productcategory="GasOnly">
            <span>Bereken je prijs</span>
        </a><br/>
        <a role="button" style="margin-top: 4px; font-weight: bold;" href="#full-aom-info" data-toggle="collapse" >
            <i class="fa fa-chevron-right"></i>&nbsp;Uitleg prijzen
        </a>
    </div>
    <div class="col-sm-12">
        <div class="collapse" id="full-aom-info">
            <hr/>
            <div class="text-primary">

                    <p>
                            <span>Dit zijn je totale gaskosten op basis van een gemiddeld verbruik</span>
                        &nbsp;(<strong>1250 m<sup>3</sup></strong> gas per jaar) en de actuele prijzen.
                        Eventuele kosten voor kabel en serviceproducten zijn niet meegerekend. De getoonde bedragen geven een indicatie. Het definitieve termijnbedrag kan hiervan afwijken.
                    </p>
                                            </div>
        </div>
    </div>
</div>



    </div>
</div>


<div class="mobile-product-slide navbar navbar-default hidden visible-xs affix-top">
    <h2 class="row">
        <a class="col-xs-3 text-center" href="#mobile-product-carousel" role="button" data-slide="prev">
            <span class="fa fa-chevron-circle-left" aria-hidden="true"></span>
            <span class="sr-only">< vorige</span>
        </a>
        <span class="text-center col-xs-6 h4" style="margin: 0; padding: 0"><span id="pakket-categorie">...</span><br /><span class="h3" id="pakket-variant">...</span></span>
        <a class="col-xs-3 text-center" href="#mobile-product-carousel" role="button" data-slide="next">
            <span class="fa fa-chevron-circle-right" aria-hidden="true"></span>
            <span class="sr-only">volgende ></span>
        </a>
    </h2>
</div>


<div class="row groupdeals-container new-portfolio">
    <div id="mobile-product-carousel" class="carousel slide" data-ride="carousel" data-interval="false">

            <div class="deal item      col-sm-4
">

            <div id="deal-GAS_1JAAR"
                 class="deal"
                 onmouseenter="offerMouseEnter(this);"
                 onmouseleave="offerMouseLeave(this);"
                 data-reference="GAS_1JAAR">
                <div class="deal-container GasOnly">
                    <div class="deal-header">
                        <h2 class="hidden-xs">
                            <span class="js-offer-category">
                                Gas
                            </span>
                            <span class="js-offer-name">
                                Vaste prijzen
                            </span>
                        </h2>
                        <h4>
1 jaar                        </h4>

                        

<figure class="productImage">

    <img alt="Gas Vaste prijzen 1 jaar" src="/Assets/img/productImg-GAS_1JAAR.png">

</figure>


                        
                            <div class="priceContainer matchheight2">
        <span class="pricetitle">
                    <span>&nbsp;</span>                  

        </span>
        <span class="price" itemprop="price">
            <span class="euro">
                &euro;
            </span>
            <span class="amount">
88<sup>,98</sup><sup></sup><sup></sup>
            </span>
        </span>
        <span class="pmnd">p/mnd</span>
            <span class="pricesubtitle">
                &euro; 1.067,80 p/jaar
            </span>
    </div>

                        <div class="pakket-more-info">
                            <a href="#" id="show_moreinfo_GAS_1JAAR" data-toggle="modal" data-target="#moreInfo_GAS_1JAAR">&gt; Meer informatie</a>
                        </div>
                    </div>
                    <div class="deal-footer">
                        
                            <div class="deal-buttons">
            <a class="btn btn-orange btn-block-mobile btn-clear-reverse icon-angle-right"
       onclick="toggleOfferSelection(event, 'GAS_1JAAR');">
        + Toevoegen
    </a>

    </div>

                    </div>
                </div>
                <div class="row deal-more-info">
                        <a role="button" onclick="app_home.showAanbodOpMaatSpecificationModal('GAS_1JAAR', event);">
                            <i class="fa fa-info-circle"></i>&nbsp;Prijsspecificatie
                        </a>

<div class="modal fade aom-specification-modal" data-keyboard="false" data-backdrop="static" role="dialog" id="aomCalculation-offer-GAS_1JAAR">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="jumbotron delta-modalheader aomspec hidden-xs " style="margin-bottom: 0">
                <div class="container">
                    <h1>&nbsp;</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="xcontainer-fluid">
                    <fieldset>
                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4>Je betaalt bij DELTA:</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    <div class="table-responsive">
                                        <table class="table table-condensed aom-specification-summary">
                                            <thead>
                                                <tr>
                                                    <th style="width: 64%">&nbsp;</th>
                                                    <th style="width: 18%">Maandelijks</th>
                                                    <th style="width: 18%">Jaarlijks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                        <tr>
                                                            <td><span>Gas Vaste prijzen 1 jaar</span></td>
                                                            <td class="price">

                                                                <span class="price">&euro; 88,98</span>
                                                            </td>
                                                            <td class="price">

                                                                <span class="price">&euro; 1.067,80</span>
                                                            </td>
                                                        </tr>
                                                <tr class="total">
                                                    <td><span>Totaal</span></td>
                                                    <td class="price">

                                                        <span class="price">&euro; 88,98</span>
                                                    </td>
                                                    <td class="price">

                                                        <span class="price">&euro; 1.067,80</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right">
                                        <a class="btn icon-plus icon-left" data-bind="visible:!app_home.aanbodOpMaatSpecificationDetailsVisible()" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Toon opbouw kosten
                                        </a>
                                        <a class="btn icon-minus icon-left" data-bind="visible:app_home.aanbodOpMaatSpecificationDetailsVisible" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Verberg opbouw kosten
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel collapse" id="specification-0" data-bind="slideVisible:aanbodOpMaatSpecificationDetailsVisible">
                                <div class="panel-body">
                                    <h4>Opbouw energiekosten</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    
<div class="row">
    <h3 class="specification-header">
        <span>Je leveringsadressen</span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 35%;"></th>
                    <th style="width: 65%;"></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td colspan="2">
                            <span class="bold">Gasaansluiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Netbeheerder</td>
                        <td>
                                <span>Enduris B.V.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>EAN Code</td>
                        <td>
                            <span style="white-space: nowrap">
                                871712775001672726
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                         data-content="De EAN code is een uniek nummer waaraan wij je aansluiting kunnen herkennen."></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Aansluiting</td>
                        <td>
                            <span>
                                G4/G6, tussen 500 en 4000 m³ jaarverbruik
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="Dit is de capaciteit (grootte) van je aansluiting."></i>
                            </span>
                        </td>
                    </tr>
                        <tr>
                            <td>Gasregio</td>
                            <td>
                                    <span>2</span>
                            </td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="row">
    <h3 class="specification-header">
        <span>Kostenspecificatie per leveringsadres: <span>Gas Vaste prijzen 1 jaar</span></span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th></th>
                    <th style="width: 10px;"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                        <tr>
                            <td>
                                <span>Verbruik</span>

                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,27492</td>
                            <td class="price">&euro; 343,65</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span>Variabele leveringskosten<sup>1</sup></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 343,65</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Vaste leveringskosten<sup>2</sup></span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,10189</td>
                            <td class="price">&euro; 37,19</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 37,19</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Energiebelasting 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,26001</td>
                            <td class="price">&euro; 325,01</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 325,01</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Opslag Duurzame Energie 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,02850</td>
                            <td class="price">&euro; 35,63</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 35,63</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Totale leveringskosten</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 741,48</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Netbeheerkosten</span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,38630</td>
                            <td class="price">&euro; 141,00</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 141,00</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>21% btw</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 185,32</td>
                        </tr>
                        <tr class="total">
                            <td colspan="3"></td>
                            <td colspan="2"><span>Totale kosten per jaar:</span></td>
                            <td class="price">&euro; 1.067,80</td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 alert alert-warning">
        <div class="col-md-12">
            <small class="text-muted">
                <span>
                    <sup>1</sup> De variabele leveringskosten tonen de kosten die afhankelijk zijn van je verbruik. Je kunt hierbij kiezen tussen een vaste of een variabele leveringsprijs per
                    <span>m<sup>3</sup></span>
                </span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>2</sup> De vaste leveringskosten zijn kosten onafhankelijk van het verbruik.</span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>3</sup> De tarieven voor energiebelasting en opslag duurzame energie worden ieder jaar door de overheid vastgesteld. Ook de netbeheerkosten kunnen jaarlijks wijzigen. De wijzigingen gaan meestal in per 1 januari.</span>
            </small>
        </div>
    </div>
</div>
                                                                            <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <span>
                                                    <i class="fa fa-exclamation-circle text-primary"></i>
                                                    &nbsp;Liever een modelcontract voor onbepaalde tijd? Bekijk <a href="https://www.delta.nl/energie/elektriciteit-en-gas/modelcontract" target="_new">hier</a> de mogelijkheden.
                                                </span>
                                            </div>
                                        </div>                                   
                                    <hr />
                                    <form id="aom-spec-form-GAS_1JAAR" role="form" class="form-horizontal">
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_1JAAR" onclick="downloadSpecification(this);">Downloaden als PDF</a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                                <div class="form-group js-feedback-align-email-aom">
                                                    <div class="col-sm-4"><label class="control-label" for="AanbodOpMaatCalculation_EmailAddress">Huidig e-mailadres</label></div>
                                                    <div class="col-sm-8" style="margin-top: 5px;">
                                                        <input class="form-control&#32;input-sm" data-val="true" data-val-regex="Dit&#32;is&#32;geen&#32;geldig&#32;e-mail&#32;adres" data-val-regex-pattern="^[a-zA-Z0-9.!#$%&amp;&#8217;*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" data-val-required="Huidig&#32;e-mailadres&#32;is&#32;een&#32;verplicht&#32;veld" id="email-GAS_1JAAR" name="AanbodOpMaatCalculation.EmailAddress" placeholder="Verzenden&#32;naar..." required="required" type="email" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_1JAAR" onclick="emailSpecification(this);">Verzenden per email</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal">Sluiten</a>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>

            </div>
            <div class="deal item active     col-sm-4 recommended highlight
">

            <div id="deal-GAS_3JAAR"
                 class="deal"
                 onmouseenter="offerMouseEnter(this);"
                 onmouseleave="offerMouseLeave(this);"
                 data-reference="GAS_3JAAR">
                <div class="deal-container GasOnly">
                        <div class="best-choice">Meest gekozen</div>
                    <div class="deal-header">
                        <h2 class="hidden-xs">
                            <span class="js-offer-category">
                                Gas
                            </span>
                            <span class="js-offer-name">
                                Vaste prijzen
                            </span>
                        </h2>
                        <h4>
3 jaar                        </h4>

                        

<figure class="productImage">

    <img alt="Gas Vaste prijzen 3 jaar" src="/Assets/img/productImg-GAS_3JAAR.png">

</figure>


                        
                            <div class="priceContainer matchheight2">
        <span class="pricetitle">
                    <span>&nbsp;</span>                  

        </span>
        <span class="price" itemprop="price">
            <span class="euro">
                &euro;
            </span>
            <span class="amount">
87<sup>,56</sup><sup></sup><sup></sup>
            </span>
        </span>
        <span class="pmnd">p/mnd</span>
            <span class="pricesubtitle">
                &euro; 1.050,68 p/jaar
            </span>
    </div>

                        <div class="pakket-more-info">
                            <a href="#" id="show_moreinfo_GAS_3JAAR" data-toggle="modal" data-target="#moreInfo_GAS_3JAAR">&gt; Meer informatie</a>
                        </div>
                    </div>
                    <div class="deal-footer">
                        
                            <div class="deal-buttons">
            <a class="btn btn-orange btn-block-mobile btn-clear-reverse icon-angle-right"
       onclick="toggleOfferSelection(event, 'GAS_3JAAR');">
        + Toevoegen
    </a>

    </div>

                    </div>
                </div>
                <div class="row deal-more-info">
                        <a role="button" onclick="app_home.showAanbodOpMaatSpecificationModal('GAS_3JAAR', event);">
                            <i class="fa fa-info-circle"></i>&nbsp;Prijsspecificatie
                        </a>

<div class="modal fade aom-specification-modal" data-keyboard="false" data-backdrop="static" role="dialog" id="aomCalculation-offer-GAS_3JAAR">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="jumbotron delta-modalheader aomspec hidden-xs " style="margin-bottom: 0">
                <div class="container">
                    <h1>&nbsp;</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="xcontainer-fluid">
                    <fieldset>
                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4>Je betaalt bij DELTA:</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    <div class="table-responsive">
                                        <table class="table table-condensed aom-specification-summary">
                                            <thead>
                                                <tr>
                                                    <th style="width: 64%">&nbsp;</th>
                                                    <th style="width: 18%">Maandelijks</th>
                                                    <th style="width: 18%">Jaarlijks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                        <tr>
                                                            <td><span>Gas Vaste prijzen 3 jaar</span></td>
                                                            <td class="price">

                                                                <span class="price">&euro; 87,56</span>
                                                            </td>
                                                            <td class="price">

                                                                <span class="price">&euro; 1.050,68</span>
                                                            </td>
                                                        </tr>
                                                <tr class="total">
                                                    <td><span>Totaal</span></td>
                                                    <td class="price">

                                                        <span class="price">&euro; 87,56</span>
                                                    </td>
                                                    <td class="price">

                                                        <span class="price">&euro; 1.050,68</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right">
                                        <a class="btn icon-plus icon-left" data-bind="visible:!app_home.aanbodOpMaatSpecificationDetailsVisible()" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Toon opbouw kosten
                                        </a>
                                        <a class="btn icon-minus icon-left" data-bind="visible:app_home.aanbodOpMaatSpecificationDetailsVisible" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Verberg opbouw kosten
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel collapse" id="specification-0" data-bind="slideVisible:aanbodOpMaatSpecificationDetailsVisible">
                                <div class="panel-body">
                                    <h4>Opbouw energiekosten</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    
<div class="row">
    <h3 class="specification-header">
        <span>Je leveringsadressen</span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 35%;"></th>
                    <th style="width: 65%;"></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td colspan="2">
                            <span class="bold">Gasaansluiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Netbeheerder</td>
                        <td>
                                <span>Enduris B.V.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>EAN Code</td>
                        <td>
                            <span style="white-space: nowrap">
                                871712775001672726
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                         data-content="De EAN code is een uniek nummer waaraan wij je aansluiting kunnen herkennen."></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Aansluiting</td>
                        <td>
                            <span>
                                G4/G6, tussen 500 en 4000 m³ jaarverbruik
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="Dit is de capaciteit (grootte) van je aansluiting."></i>
                            </span>
                        </td>
                    </tr>
                        <tr>
                            <td>Gasregio</td>
                            <td>
                                    <span>2</span>
                            </td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="row">
    <h3 class="specification-header">
        <span>Kostenspecificatie per leveringsadres: <span>Gas Vaste prijzen 3 jaar</span></span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th></th>
                    <th style="width: 10px;"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                        <tr>
                            <td>
                                <span>Verbruik</span>

                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,26360</td>
                            <td class="price">&euro; 329,50</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span>Variabele leveringskosten<sup>1</sup></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 329,50</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Vaste leveringskosten<sup>2</sup></span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,10189</td>
                            <td class="price">&euro; 37,19</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 37,19</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Energiebelasting 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,26001</td>
                            <td class="price">&euro; 325,01</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 325,01</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Opslag Duurzame Energie 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,02850</td>
                            <td class="price">&euro; 35,63</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 35,63</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Totale leveringskosten</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 727,33</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Netbeheerkosten</span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,38630</td>
                            <td class="price">&euro; 141,00</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 141,00</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>21% btw</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 182,35</td>
                        </tr>
                        <tr class="total">
                            <td colspan="3"></td>
                            <td colspan="2"><span>Totale kosten per jaar:</span></td>
                            <td class="price">&euro; 1.050,68</td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 alert alert-warning">
        <div class="col-md-12">
            <small class="text-muted">
                <span>
                    <sup>1</sup> De variabele leveringskosten tonen de kosten die afhankelijk zijn van je verbruik. Je kunt hierbij kiezen tussen een vaste of een variabele leveringsprijs per
                    <span>m<sup>3</sup></span>
                </span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>2</sup> De vaste leveringskosten zijn kosten onafhankelijk van het verbruik.</span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>3</sup> De tarieven voor energiebelasting en opslag duurzame energie worden ieder jaar door de overheid vastgesteld. Ook de netbeheerkosten kunnen jaarlijks wijzigen. De wijzigingen gaan meestal in per 1 januari.</span>
            </small>
        </div>
    </div>
</div>
                                                                            <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <span>
                                                    <i class="fa fa-exclamation-circle text-primary"></i>
                                                    &nbsp;Liever een modelcontract voor onbepaalde tijd? Bekijk <a href="https://www.delta.nl/energie/elektriciteit-en-gas/modelcontract" target="_new">hier</a> de mogelijkheden.
                                                </span>
                                            </div>
                                        </div>                                   
                                    <hr />
                                    <form id="aom-spec-form-GAS_3JAAR" role="form" class="form-horizontal">
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_3JAAR" onclick="downloadSpecification(this);">Downloaden als PDF</a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                                <div class="form-group js-feedback-align-email-aom">
                                                    <div class="col-sm-4"><label class="control-label" for="AanbodOpMaatCalculation_EmailAddress">Huidig e-mailadres</label></div>
                                                    <div class="col-sm-8" style="margin-top: 5px;">
                                                        <input class="form-control&#32;input-sm" data-val="true" data-val-regex="Dit&#32;is&#32;geen&#32;geldig&#32;e-mail&#32;adres" data-val-regex-pattern="^[a-zA-Z0-9.!#$%&amp;&#8217;*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" data-val-required="Huidig&#32;e-mailadres&#32;is&#32;een&#32;verplicht&#32;veld" id="email-GAS_3JAAR" name="AanbodOpMaatCalculation.EmailAddress" placeholder="Verzenden&#32;naar..." required="required" type="email" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_3JAAR" onclick="emailSpecification(this);">Verzenden per email</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal">Sluiten</a>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>

            </div>
            <div class="deal item      col-sm-4
">

            <div id="deal-GAS_VARIABEL"
                 class="deal"
                 onmouseenter="offerMouseEnter(this);"
                 onmouseleave="offerMouseLeave(this);"
                 data-reference="GAS_VARIABEL">
                <div class="deal-container GasOnly">
                    <div class="deal-header">
                        <h2 class="hidden-xs">
                            <span class="js-offer-category">
                                Gas
                            </span>
                            <span class="js-offer-name">
                                Variabele prijzen
                            </span>
                        </h2>
                        <h4>
                            &nbsp;
                        </h4>

                        

<figure class="productImage">

    <img alt="Gas Variabele prijzen " src="/Assets/img/productImg-GAS_VARIABEL.png">

</figure>


                        
                            <div class="priceContainer matchheight2">
        <span class="pricetitle">
                    <span>&nbsp;</span>                  

        </span>
        <span class="price" itemprop="price">
            <span class="euro">
                &euro;
            </span>
            <span class="amount">
89<sup>,59</sup><sup></sup><sup></sup>
            </span>
        </span>
        <span class="pmnd">p/mnd</span>
            <span class="pricesubtitle">
                &euro; 1.075,07 p/jaar
            </span>
    </div>

                        <div class="pakket-more-info">
                            <a href="#" id="show_moreinfo_GAS_VARIABEL" data-toggle="modal" data-target="#moreInfo_GAS_VARIABEL">&gt; Meer informatie</a>
                        </div>
                    </div>
                    <div class="deal-footer">
                        
                            <div class="deal-buttons">
            <a class="btn btn-orange btn-block-mobile btn-clear-reverse icon-angle-right"
       onclick="toggleOfferSelection(event, 'GAS_VARIABEL');">
        + Toevoegen
    </a>

    </div>

                    </div>
                </div>
                <div class="row deal-more-info">
                        <a role="button" onclick="app_home.showAanbodOpMaatSpecificationModal('GAS_VARIABEL', event);">
                            <i class="fa fa-info-circle"></i>&nbsp;Prijsspecificatie
                        </a>

<div class="modal fade aom-specification-modal" data-keyboard="false" data-backdrop="static" role="dialog" id="aomCalculation-offer-GAS_VARIABEL">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="jumbotron delta-modalheader aomspec hidden-xs " style="margin-bottom: 0">
                <div class="container">
                    <h1>&nbsp;</h1>
                </div>
            </div>
            <div class="modal-body">
                <div class="xcontainer-fluid">
                    <fieldset>
                        <div class="panel-group">
                            <div class="panel panel-primary">
                                <div class="panel-body">
                                    <h4>Je betaalt bij DELTA:</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    <div class="table-responsive">
                                        <table class="table table-condensed aom-specification-summary">
                                            <thead>
                                                <tr>
                                                    <th style="width: 64%">&nbsp;</th>
                                                    <th style="width: 18%">Maandelijks</th>
                                                    <th style="width: 18%">Jaarlijks</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                        <tr>
                                                            <td><span>Gas Variabele prijzen </span></td>
                                                            <td class="price">

                                                                <span class="price">&euro; 89,59</span>
                                                            </td>
                                                            <td class="price">

                                                                <span class="price">&euro; 1.075,07</span>
                                                            </td>
                                                        </tr>
                                                <tr class="total">
                                                    <td><span>Totaal</span></td>
                                                    <td class="price">

                                                        <span class="price">&euro; 89,59</span>
                                                    </td>
                                                    <td class="price">

                                                        <span class="price">&euro; 1.075,07</span>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="text-right">
                                        <a class="btn icon-plus icon-left" data-bind="visible:!app_home.aanbodOpMaatSpecificationDetailsVisible()" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Toon opbouw kosten
                                        </a>
                                        <a class="btn icon-minus icon-left" data-bind="visible:app_home.aanbodOpMaatSpecificationDetailsVisible" data-target="#specification-0" onclick="app_home.toggleAanbodOpMaatSpecificationDetails(this)">
                                            Verberg opbouw kosten
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="panel collapse" id="specification-0" data-bind="slideVisible:aanbodOpMaatSpecificationDetailsVisible">
                                <div class="panel-body">
                                    <h4>Opbouw energiekosten</h4>
                                    <span class="text-info visible-xs"><i class="fa fa-hand-o-up" style="margin-right: 10px;"></i>Swipe heen en weer om alle gegevens te zien.</span>
                                    
<div class="row">
    <h3 class="specification-header">
        <span>Je leveringsadressen</span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 35%;"></th>
                    <th style="width: 65%;"></th>
                </tr>
            </thead>
            <tbody>
                    <tr>
                        <td colspan="2">
                            <span class="bold">Gasaansluiting</span>
                        </td>
                    </tr>
                    <tr>
                        <td>Netbeheerder</td>
                        <td>
                                <span>Enduris B.V.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>EAN Code</td>
                        <td>
                            <span style="white-space: nowrap">
                                871712775001672726
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                         data-content="De EAN code is een uniek nummer waaraan wij je aansluiting kunnen herkennen."></i>
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>Aansluiting</td>
                        <td>
                            <span>
                                G4/G6, tussen 500 en 4000 m³ jaarverbruik
                                    <i class="fa fa-info-circle text-primary" style="margin-left: 5px;" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="Dit is de capaciteit (grootte) van je aansluiting."></i>
                            </span>
                        </td>
                    </tr>
                        <tr>
                            <td>Gasregio</td>
                            <td>
                                    <span>2</span>
                            </td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>



<div class="row">
    <h3 class="specification-header">
        <span>Kostenspecificatie per leveringsadres: <span>Gas Variabele prijzen </span></span>
    </h3>
    <h3 class="specification-subheader">
        <span>Herdershoefje 27 , 4424 DA Wemeldinge</span>
    </h3>
    <div class="table-responsive">
        <table class="aom-specification">
            <thead>
                <tr>
                    <th style="width: 34%;"></th>
                    <th></th>
                    <th style="width: 10px;"></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                        <tr>
                            <td>
                                <span>Verbruik</span>

                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,27973</td>
                            <td class="price">&euro; 349,66</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span>Variabele leveringskosten<sup>1</sup></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 349,66</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Vaste leveringskosten<sup>2</sup></span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,10189</td>
                            <td class="price">&euro; 37,19</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 37,19</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Energiebelasting 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,26001</td>
                            <td class="price">&euro; 325,01</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 325,01</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td>
                                <span>Opslag Duurzame Energie 2018 zone 1<sup>3</sup></span>

                                        <i class="fa fa-info-circle text-primary" data-html="true" data-placement="right" data-container="body" data-toggle="popover" data-trigger="focus hover"
                                            data-content="&lt;span&gt;0 m&lt;sup&gt;3&lt;/sup&gt; - 170000 m&lt;sup&gt;3&lt;/sup&gt;&lt;/span&gt;"></i>
                            </td>
                            <td>
                                <span class="usage">1250</span>
                                <span class="unit">m<sup>3</sup></span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,02850</td>
                            <td class="price">&euro; 35,63</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 35,63</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Totale leveringskosten</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 747,49</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>Netbeheerkosten</span></td>
                            <td>
                                <span class="usage">365</span>
                                <span class="unit">dagen</span>
                            </td>
                            <td>x</td>
                            <td class="price">&euro; 0,38630</td>
                            <td class="price">&euro; 141,00</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td><span></span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 141,00</td>
                        </tr>
                        <tr><td colspan="6">&nbsp;</td></tr>
                        <tr>
                            <td><span>21% btw</span></td>
                            <td colspan="4"></td>
                            <td class="price">&euro; 186,58</td>
                        </tr>
                        <tr class="total">
                            <td colspan="3"></td>
                            <td colspan="2"><span>Totale kosten per jaar:</span></td>
                            <td class="price">&euro; 1.075,07</td>
                        </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12 alert alert-warning">
        <div class="col-md-12">
            <small class="text-muted">
                <span>
                    <sup>1</sup> De variabele leveringskosten tonen de kosten die afhankelijk zijn van je verbruik. Je kunt hierbij kiezen tussen een vaste of een variabele leveringsprijs per
                    <span>m<sup>3</sup></span>
                </span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>2</sup> De vaste leveringskosten zijn kosten onafhankelijk van het verbruik.</span>
            </small>
            <br />
            <small class="text-muted">
                <span><sup>3</sup> De tarieven voor energiebelasting en opslag duurzame energie worden ieder jaar door de overheid vastgesteld. Ook de netbeheerkosten kunnen jaarlijks wijzigen. De wijzigingen gaan meestal in per 1 januari.</span>
            </small>
        </div>
    </div>
</div>
                                                                            <div class="row" style="margin-top: 20px;">
                                            <div class="col-md-12">
                                                <span>
                                                    <i class="fa fa-exclamation-circle text-primary"></i>
                                                    &nbsp;Liever een modelcontract voor onbepaalde tijd? Bekijk <a href="https://www.delta.nl/energie/elektriciteit-en-gas/modelcontract" target="_new">hier</a> de mogelijkheden.
                                                </span>
                                            </div>
                                        </div>                                   
                                    <hr />
                                    <form id="aom-spec-form-GAS_VARIABEL" role="form" class="form-horizontal">
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_VARIABEL" onclick="downloadSpecification(this);">Downloaden als PDF</a>
                                            </div>
                                        </div>
                                        <div class="row" style="margin: 5px;">
                                            <div class="col-sm-8">
                                                <div class="form-group js-feedback-align-email-aom">
                                                    <div class="col-sm-4"><label class="control-label" for="AanbodOpMaatCalculation_EmailAddress">Huidig e-mailadres</label></div>
                                                    <div class="col-sm-8" style="margin-top: 5px;">
                                                        <input class="form-control&#32;input-sm" data-val="true" data-val-regex="Dit&#32;is&#32;geen&#32;geldig&#32;e-mail&#32;adres" data-val-regex-pattern="^[a-zA-Z0-9.!#$%&amp;&#8217;*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" data-val-required="Huidig&#32;e-mailadres&#32;is&#32;een&#32;verplicht&#32;veld" id="email-GAS_VARIABEL" name="AanbodOpMaatCalculation.EmailAddress" placeholder="Verzenden&#32;naar..." required="required" type="email" value="" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <a class="btn btn-orange icon-angle-right pull-right" data-id="GAS_VARIABEL" onclick="emailSpecification(this);">Verzenden per email</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn" data-dismiss="modal">Sluiten</a>
            </div>
        </div>
    </div>
</div>
                </div>
            </div>

            </div>
        </div>
</div>
    <div id="moreInfo_GAS_1JAAR" class="modal custom-modal-sidebar fade right" tabindex="-1" role="dialog" aria-hidden="true" data-dismiss="modal">
        <div class="modal-body">
            <div class="closeCircle" data-dismiss="modal" aria-label="Close">
                <span class="icon icon-cross"></span>
            </div>
            <div class="product-info-image">
                <img src="/Assets/img/productImg-GAS_1JAAR.png" />
            </div>
            <h2>Gas vast 1 jaar</h2>
<h4>Gegarandeerd geen prijsstijgingen</h4>                                        <ul>
                        <li>Vaste en voordelige tarieven</li>
                        <li>Zekerheid en gemak</li>
                        <li>Overstapservice</li>
                </ul>

            <p class="details">
                Kies je voor een vaste prijs, dan geniet je die tijd van de zekerheid en het gemak van vaste leveringsprijzen. Prijswijzigingen zijn dan niet van toepassing.
            </p>
        </div>
    </div>
    <div id="moreInfo_GAS_3JAAR" class="modal custom-modal-sidebar fade right" tabindex="-1" role="dialog" aria-hidden="true" data-dismiss="modal">
        <div class="modal-body">
            <div class="closeCircle" data-dismiss="modal" aria-label="Close">
                <span class="icon icon-cross"></span>
            </div>
            <div class="product-info-image">
                <img src="/Assets/img/productImg-GAS_3JAAR.png" />
            </div>
            <h2>Gas vast 3 jaar</h2>
<h4>Gegarandeerd geen prijsstijgingen</h4>                                        <ul>
                        <li>Vaste en voordelige tarieven</li>
                        <li>Zekerheid en gemak</li>
                        <li>Overstapservice</li>
                </ul>

            <p class="details">
                Kies je voor een vaste prijs, dan geniet je die tijd van de zekerheid en het gemak van vaste leveringsprijzen. Prijswijzigingen zijn dan niet van toepassing.
            </p>
        </div>
    </div>
    <div id="moreInfo_GAS_VARIABEL" class="modal custom-modal-sidebar fade right" tabindex="-1" role="dialog" aria-hidden="true" data-dismiss="modal">
        <div class="modal-body">
            <div class="closeCircle" data-dismiss="modal" aria-label="Close">
                <span class="icon icon-cross"></span>
            </div>
            <div class="product-info-image">
                <img src="/Assets/img/productImg-GAS_VARIABEL.png" />
            </div>
            <h2>Gas Variabel</h2>
<h4>Flexibele overeenkomst</h4>                                        <ul>
                        <li>Variabele en voordelige tarieven</li>
                        <li>Vrij en ongebonden</li>
                        <li>Overstapservice</li>
                </ul>

            <p class="details">
                Kies je voor een variabele leveringsprijs, dan beweegt deze mee met ontwikkelingen in de markt. Zo kan de leveringsprijs dalen, maar ook stijgen.
            </p>
        </div>
    </div>

<script>
    $('body').on('click', '.modal-backdrop', function () {
        $('.closeCircle').trigger('click');
    });
</script>                    </div>
                </div>
            </div>
        </div>
        <div id="AllInOne"
             class="col-sm-12 group-selection-bar  "
             >
            
            <div class="group-anchor  closed" onclick="toggleGroup(event, this)" data-id="4">
             <div class="group-anchor-content">
                 <div class="group-loader delta-loader"></div>
                        <div class="group-icon ">
                            y
                        </div>
                
                    <div class="group-image">
                        <img src="/Assets/img/icons/icon_devices.png" alt="icon_devices">
                    </div>
                    <div class="group-info">
                        <span class="group-title">Alles-in-1 en TV &amp; Internet</span>
                        <br/>
                        <span class="group-text">Internet, televisie en bellen van de beste provider.</span>
                    </div>
                </div>
            </div>
            <div class="group-4-widgets group-widgets-content" style="display: none;" data-bind="slideVisible: app_home.openConversionPathGroup() == 4">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div id="InteractieveTV"
             class="col-sm-12 group-selection-bar  "
             >
            
            <div class="group-anchor  closed" onclick="toggleGroup(event, this)" data-id="5">
             <div class="group-anchor-content">
                 <div class="group-loader delta-loader"></div>
                        <div class="group-icon ">
                            y
                        </div>
                
                    <div class="group-image">
                        <img src="/Assets/img/icons/icon_itv.png" alt="icon_itv">
                    </div>
                    <div class="group-info">
                        <span class="group-title">Interactieve TV</span>
                        <br/>
                        <span class="group-text">De nieuwe manier van TV kijken</span>
                    </div>
                </div>
            </div>
            <div class="group-5-widgets group-widgets-content" style="display: none;" data-bind="slideVisible: app_home.openConversionPathGroup() == 5">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>
        <div id="DigitalTelevision"
             class="col-sm-12 group-selection-bar  "
             >
            
            <div class="group-anchor  closed" onclick="toggleGroup(event, this)" data-id="8">
             <div class="group-anchor-content">
                 <div class="group-loader delta-loader"></div>
                        <div class="group-icon ">
                            y
                        </div>
                
                    <div class="group-image">
                        <img src="/Assets/img/icons/icon_zenderpakketten.png" alt="icon_zenderpakketten">
                    </div>
                    <div class="group-info">
                        <span class="group-title">Extra zenderpakketten</span>
                        <br/>
                        <span class="group-text">Al onze zenderpakketten zijn maandelijks opzegbaar.</span>
                    </div>
                </div>
            </div>
            <div class="group-8-widgets group-widgets-content" style="display: none;" data-bind="slideVisible: app_home.openConversionPathGroup() == 8">
                <div class="row">
                    <div class="col-sm-12">
                    </div>
                </div>
            </div>
        </div>

<script>
    $(function () {
        // Loop trough the groups to match heights
        app_home.matchWidgetHeights();

        // if the customer resizes the browser window or switches orientation, match heights again
        var timer;
        $(window).resize(function() {
            clearTimeout(timer);
            timer = setTimeout(function() {
                // only matchheights when customer is done scrolling
                app_home.matchWidgetHeights();
            }, 500);
        });
    });
    var clickedGroup = null;
    function toggleGroup(event, clickedGroup) {
        if ($(clickedGroup).parent().hasClass('disabled')) {
            // highlight cai alert bij klik op disabled groups
            $('#conversionPathGroupsMenu').find('.group-badge.error').popover('show');
        }
        else {
            // proceed
            app_home.handleConversionPathGroupToggle(clickedGroup);
        }
        return app_home.preventEventBubbling(event);;
    }

    // click functions (prevent event propagation)
    function toggleOfferSelection(event, id) {       
        app_home.handleOfferSelection(id);
        return app_home.preventEventBubbling(event);
        
    }

    function toggleOptionSelection(event, id) {
        app_home.handleOfferlineSelection(id);
        return app_home.preventEventBubbling(event);
    }

    function toggleIncentiveSelection(event, id) {
        app_home.handleIncentiveSelection(id);
        return app_home.preventEventBubbling(event);
    }

    // this function makes all deals white and highlights the hovered one
    function offerMouseEnter(elem) {
        if (screen.width > 480) {
            $(elem).parent().find('.deal-container').css("background-color", "#ffffff");
            $(elem).find('.deal-container').css("background-color", "#e5f2fa");
        }
    }

    // this function makes all deals white and highlights the selected/recommended deal again
    function offerMouseLeave(elem) {
        if (screen.width > 480) {
            $(elem).parent().find('.deal-container').css("background-color", "#ffffff");
            $(elem).parent().closest('.highlight').find('.deal-container').css("background-color", "#e5f2fa");
        }
    }
</script>

    <script>
        function downloadSpecification(element) {
            var OfferReference = $(element).data('id');

            // after generation of the pdf redirect to url to get the file
            var callback = function() {
                window.location = baseURL + 'api/aanbodopmaat/download-pdf';
            };

            // generate pdf + return file to the client via callback
            app_home.pdfPrintAomSpecification(OfferReference, callback);
        }

        function emailSpecification(element) {
            var OfferReference = $(element).data('id');

            // validate form
            var form = $('#aom-spec-form-' + OfferReference);
            if ($(form).valid()) {
                var emailAddress = $('#email-' + OfferReference).val();

                // send as email (includes generating)
                app_home.emailAomSpecification(OfferReference, emailAddress);
            }
        }
    </script>

</div>

